body{
background-color:black;
  font-family: arial, helvetica, san-serif;
}
h1{
  color:ivory; 
  text-align:center;
}
h2{
  color:ivory; 
  text-align:center;
}
.assign{
  background-color: black;
  margin: 10px;
  padding: 10px;
  display: flex;
}
.assign-details {
  color: Ivory; 
  background-color: black;
}
.assign img {
  max-width: 100%;
}

.assignment {
  background-color: charcoal; 
}
